/* Header */
.header {
    background: #657584;
}

.header__label .webix_el_box {
    color: #fff;
}

/* Content-list */

.content__list {
    background: #eeeeee;
}

.content__list .webix_list {
    background: #eeeeee;
}

.content__list .webix_list_item {
    transition: background ease-in-out 0.2s;
}

.content__list .webix_list_item:hover {
    background: #c5baba;
}

.content__status {
    background: none;

    text-align: center;
    color: #87ab84;
}

.webix_icon.wxi-check {
    color: #87ab84;
}

/* DataTable */

.webix_icon.wxi-trash {
    cursor: pointer;
}

.datatable__id {
    background: #f4f4f4;
}

.datatable__hover {
    background: #dad4d4;
}

.footer {
    text-align: center;
}
